<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/img/pageant.png" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Judge</ion-card-subtitle>
      <ion-card-title>Welcome to Pageant Tabulation App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        A real-time mobile score tabulation application for Beauty Pageants.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
        minima.
      </p>
    </ion-card-content>
  </ion-card>
  <!-- <ion-list lines="none">
    <ion-list-header>
      <ion-label>Configurations</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Pageant</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="female"></ion-icon>
      <ion-label>Candidates</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="list"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Criterias</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="person"></ion-icon>
      <ion-label>Judges</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Instructions</ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
